name: Test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    cache-install-test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Install Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: lts/*

            - name: Install pnpm
              uses: pnpm/action-setup@v2.0.1
              id: pnpm-install
              with:
                  version: 7
                  run_install: false

            - name: Get pnpm store directory
              id: pnpm-cache
              run: |
                  echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

            - name: Setup pnpm cache
              uses: actions/cache@v3
              with:
                  path: '${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}'
                  key: "${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}"
                  restore-keys: |
                      ${{ runner.os }}-pnpm-store-

            - name: Install dependencies
              run: pnpm install

            - name: Test
              run: npx cypress install
              run: pnpm test
